 @model IEnumerable<Sapnil.Models.Payment>

    @{
    ViewData["Title"] = "Index";
    }



<div class="row justify-content-center">
    <div class="col-md-7 mb-5">
        <form asp-action="Search">
            <div class="input-group">
                <input type="text" name="from" class="form-control date" value="@ViewBag.from"/>
                <div class="input-group-append">
                    <span class="input-group-text">To </span>
                </div> <!-- append -->
                <input type="text" name="to" class="form-control date" value="@ViewBag.to" />
                <div class="input-group-append">
                    <button type="submit" class=""><img src="~/images/search.png" class="src" /></button>
                </div><!-- append -->

            </div> <!-- input-group -->
        </form>
    </div> <!-- end of col -->
</div> <!-- End row -->

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th> Invoice No</th>
            <th> Name </th>
            <th>Cell No</th>
            <th> Address</th>
            <th>Invoice Date</th>
            <th>Total Amount</th>
            <th> Discount </th>
            <th> Net Amount</th>
            <th> Paid Amount</th>
            <th> Due Ämount</th>
        </tr>
    </thead>
    <tbody>
    @if(ViewBag.Clients !=null)
    {
        foreach (var i in ViewBag.Clients)
        {
            <tr>
                <td>@i.InvoiceNo</td>
                <td>@i.Name</td>
                <td>@i.CellNo</td>
                <td>@i.Address</td>
                <td>@i.InvoiceDate.ToString("yy-MM-dd hh:mm:ss tt")</td>
                <td>@i.Payment.TotalAmmount</td>
                <td>@i.Payment.DiscountAmount</td>
                <td>@i.Payment.NetAmount</td>
                <td>@i.Payment.PaidAmount</td>
                <td>@i.Payment.DueAmount</td>
            </tr>
        }
        if(Model != null)
           {
            <tr border-top>
            
                <td colspan="5">Total =</td>
                <td>@Model.Sum(a => a.TotalAmmount)</td>
                <td>@Model.Sum(a => a.DiscountAmount)</td>
                <td>@Model.Sum(a => a.NetAmount)</td>
                <td> @Model.Sum(a => a.PaidAmount)</td>
                <td>@Model.Sum(a => a.DueAmount)</td>
            
            </tr>
           }
    }
    </tbody>
</table>


