@model Sapnil.Models.Product

@{
    ViewData["Title"] = "Details";
}


@if(Model !=null)
{
<div style="background-color:#e3e3e3;color: red;">
    @if(Model.FrameName !=null)
    {
      <p> Frame - Name : @Model.FrameName, Quantity : @Model.FrameQty, Price: @Model.FramePrice</p>
    }
    @if(Model.PowerLense != null)
    {
     <p>Lense - Name: @Model.PowerLense, Quantity : @Model.PowerLenseQty, Price : @Model.PowerLensePrice</p>
    }
    @if(Model.ContactLense != null)
    {
     <p>Contact Lese - Color: @Model.ContactLense, Quantity : @Model.ContactLenseQty, Price : @Model.ContactLensePrice</p>
    }
     <p>Right Eye : Sph : @Model.RightEyeSph, Cyl: @Model.RightEyeCyl, Axis: @Model.RightEyeAxis, N.Add: @Model.RightEyeAdd</p>
     <p>Left Eye : Sph : @Model.LeftEyeSph, Cyl: @Model.LeftEyeCyl, Axis: @Model.LeftEyeAxis, N.Add: @Model.LeftEyeAdd</p>
     @if(Model.Ipd != null)
     {
        <p>IPD : @Model.Ipd</p>
     }
    @if(Model.FocalOption != null)
    {
        <p>Focal Option: @Model.FocalOption</p>
    }
     
     <p>Delivery Status: @Model.DeliveryStatus</p>
</div>

}
