@model Sapnil.Models.Payment

@{
    ViewData["Title"] = "Details";
}


@if(Model !=null)
{
<div style="background-color:#e3e3e3;color: red;">
    @if(Model.TotalAmmount !=null)
    {
      var tA = Model.TotalAmmount; var total = tA.ToString("N2");
      <p> Total Amount :  @total</p>
    }
      @{
        var NA = Model.NetAmount; var nA = NA.ToString("N2");
        <p>NetAmount :  @nA</p>
      }
     
    
    @if(Model.DiscountAmount != null)
    {
     var dA = string.Format("{0:F2}", (double) Model.DiscountAmount);
     <p>Discount Amount : @dA</p>
    }
     @{ 
      var pA = string.Format("{0:F2}", (double) Model.PaidAmount );
     <p>Paid Amount : @pA</p>
    }

     @{
        var dueA = string.Format("{0:F2}", (double) Model.DueAmount);
       <p>Due Amount : @dueA</p>
     }  
   
</div>

}
