@model Sapnil.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        @if(Model.Product.FrameName != null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.FrameName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.FrameName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.FrameQty)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.FrameQty)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.FramePrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.FramePrice)
            </dd>
        }
        @if(Model.Product.PowerLense != null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.PowerLense)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.PowerLense)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.PowerLenseQty)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.PowerLenseQty)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.PowerLensePrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.PowerLensePrice)
            </dd>
        }
       @if(Model.Product.ContactLense !=null)
       {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ContactLense)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.ContactLense)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ContactLenseQty)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.ContactLenseQty)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ContactLensePrice)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.ContactLensePrice)
            </dd>
       }

       @if(Model.Product.LeftEyeSph !=null)
       {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.LeftEyeSph)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.LeftEyeSph)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.LeftEyeCyl)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.LeftEyeCyl)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.LeftEyeAxis)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.LeftEyeAxis)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Product.LeftEyeAdd)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Product.LeftEyeAdd)
            </dd>
       }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RightEyeSph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.RightEyeSph)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RightEyeCyl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.RightEyeCyl)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RightEyeAxis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.RightEyeAxis)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RightEyeAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.RightEyeAdd)
        </dd>
        
        
        
        
        
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.TotalAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.TotalAmmount)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.DiscountAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.DiscountAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.NetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.NetAmount)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaidAmount);
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.DueAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.DueAmount);
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
